<div class="component">
  <div class="top-bg-bar"></div>
  <div class="main">
    <div class="top">
      <personal-bar person-name="$ctrl.person.name" person-adress="$ctrl.person.adress" on-add-like="$ctrl.addlike()" location="$ctrl.location"></personal-bar>

      <social-bar social="$ctrl.person.social" on-add-followers="$ctrl.addfollowers()"></social-bar>

    </div>
    <div class="bottom">
      <comment-box comments="$ctrl.person.comments" comment-count="$ctrl.person.commentCount"></comment-box>
      <add-comment on-add-comment="$ctrl.addcomment(author, text)"></add-comment>
    </div>
  </div>
</div>
