<div class="component">
  <div class="top-bg-bar"></div>
  <div class="main">
    <div class="top">
      <div class="row">
        <div class="avatar"></div>
        <div class="info">
          <div>
            <span class="name">{{$ctrl.person.name}}</span>
            <span class="adress">New York, USA</span>
          </div>
        </div>
      </div>
      <div class="row2">
        <div class="flex-container">
          <div class="flex">
            <div>
              <span class="number">121</span>
              <span class="title">Likes</span>
            </div>
          </div>
          <div class="flex">
            <div>
              <span class="number">723</span>
              <span class="title">Following</span>
            </div>

          </div>
          <div class="flex last">
            <div>
              <span class="number">4433</span>
              <span class="title">Folowers</span>
            </div>

          </div>
          <div>
            <button>FOLLOW</button>
          </div>
        </div>
      </div>
    </div>
    <div class="comments">
      <span class="hide-comments">Hide comments (353)</span>

      <div class="comment">
        <div class="row">
          <div class="avatar-small"></div>
          <div class="nick">
            <span>Mike Ross</span>
          </div>
        </div>

        <div class="row">
          <div class="comment-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Donec nec erat vitae nisi lobortis venenatis. Cras varius,
            libero non commodo ullamcorper, leo magna fermentum ante, eu
            ornare felis massa sed justo.
          </div>
        </div>

      </div>
      <div class="comment">
        <div class="row">
          <div class="avatar-small"></div>
          <div class="nick">
            <span>Mike Ross</span>
          </div>
        </div>

        <div class="row">
          <div class="comment-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Donec nec erat vitae nisi lobortis venenatis. Cras varius,
            libero non commodo ullamcorper, leo magna fermentum ante, eu
            ornare felis massa sed justo.
          </div>
        </div>

      </div>
      <div class="comment">
        <div class="row">
          <div class="avatar-small"></div>
          <div class="nick">
            <span>Mike Ross</span>
          </div>
        </div>

        <div class="row">
          <div class="comment-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Donec nec erat vitae nisi lobortis venenatis. Cras varius,
            libero non commodo ullamcorper, leo magna fermentum ante, eu
            ornare felis massa sed justo.
          </div>
        </div>

      </div>
      <div class="add-comment">
        <input type="text" placeholder="Add a comment" />
      </div>
    </div>
  </div>
</div>
